.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.App-content {
  margin: 0;
  padding: 20px; /* Add some padding around the content */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px; /* Space between the two columns */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.restaurants-list,
.rankings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1; /* Allow lists to grow */
  min-width: 300px; /* Ensure they don't get too narrow */
  width: 90vw;
  max-width: 700px; /* Max width for readability */
}

.restaurants-list h2,
.rankings-list h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.room-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1.1em;
  color: #555;
}
