.restaurant-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 5vh;
  border-radius: 5%;
}

.restaurant-card .restaurant-photo {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}

.restaurant-card .restaurant-card-content-wrapper {
  height: 50%;
  width: 100%;
  display: flex;
}

.restaurant-card .restaurant-card-content-wrapper .restaurant-card-content {
  margin: 10px 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.restaurant-card h2 {
  color: #333;
  margin: 0px;
}

.restaurant-card h3 {
  margin: 0;
  color: #333;
  margin-bottom: 10px;
}

.restaurant-card .address {
  color: #666;
  font-size: 0.9em;
}

.restaurant-card .details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.9em;
}

.restaurant-card .status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.restaurant-card .todays-hours {
  font-size: 0.9em;
  color: #555;
}

.restaurant-card .rating {
  font-weight: bold;
}

.restaurant-card .status {
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.restaurant-card .status.open {
  background-color: #28a745; /* green */
}

.restaurant-card .status.closed {
  background-color: #dc3545; /* red */
}

.restaurant-card .links {
  margin: 0px 0;
}

.restaurant-card .links a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

.restaurant-card .links a:hover {
  text-decoration: underline;
}

.restaurant-card .primary-type {
  font-style: italic;
  color: #666;
  text-transform: capitalize; /* Capitalize first letter of each word */
}

.restaurant-card .types {
  margin: 0;
  font-size: 0.85em;
  color: #888;

  text-transform: capitalize;
}

.restaurant-card .generative-summary {
  font-size: 0.95em;
  color: #444;

  line-height: 1.5;
}

.restaurant-card .rating-section {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-card .rating-section button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;

  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
  flex-basis: 100%;
}

.restaurant-card .rating-section button:hover {
  background-color: #0056b3;
}

.restaurant-card .rating-choices {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
